@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    margin:0;
}
nav{
    width:100% 100%;
    background:rgb(27, 27, 27);
    padding:10px 0;
}
nav ul{
    display:flex;
    justify-content:space-around;
    align-items:center;
    list-style:none;
    margin:0;
}
nav a{
    text-decoration:none;
    color:white;
}
#nav-links{
    font-size:18px;
    font-family: 'Lato', sans-serif;
}
#nav-heading{
    font-size:32px;
}
.csi{
    background:url(images/team_bg.png) no-repeat;
    background-size:100%;
    height:100vh;
    display:flex;
    justify-content: space-between;
    padding-left:20px;
    align-items:center;
}
.csi h1{
    margin:0;
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
}
.about-team{
    width:35%;
}
.about-team h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
    text-align: center;
}
.about-team p{
    font-family: 'Lato', sans-serif;
    font-size:18px
}
.principal,.president{
    display: flex;
    justify-content:center;
    height: auto;
}
.faculty_profile{
    background:grey;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius:10px;
    margin:10px;
}
.profile_info{
    width: 100%;
    padding: 15px 10px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
.profile_info h3{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    margin: 0 0 5px 0;
}
.profile_info span{
    display: block;
    font-size: 18px;
    color: #0facf3;
}
.faculty_profile img{
    transition: all 0.5s ease-in-out 0s;
    height:300px;
}
.faculty_profile:hover img{ transform: scale(1.2); }
.HOD_faculty{
    display:flex;
    justify-content:space-around;
}
.HOD{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.associate_faculty{
    display:flex;
    justify-content:space-around;
    margin:30px 0;
}
#mentor{
    background:#1b43bd;
    margin:0;
    text-align:center;
    padding:20px 0;
    font-size:40px;
    color:white;
}
.faculty_incharge{
    background:url(images/faculty_bg.png) no-repeat;
    background-size:100% 100%;
    padding:20px 10px;
}
.vice-president,.secretary,.joint-secretary{
    display:flex;
    justify-content:space-around;
    margin:20px 0;
}
video{
    position:absolute;
    width: 100%;
    z-index: -10;
}
.student_incharge h2{
    text-align:center;
    font-size:40px;
}
.design_team{
    background:url(images/design_bg.png) no-repeat;
    background-size:100% 100%;
}
#website{
    background: #0facf3;
    padding: 10px;
    border-radius: 10px;
}